*
!/.gitignore
!/README.md
!/versions.env
!/scripts/
!/scripts/common.sh
!/scripts/install
!/scripts/start
!/scripts/stop
!/scripts/status
!/scripts/restore
!/scripts/run-gbrain
!/scripts/run-openclaw
!/scripts/adopt-live
!/scripts/lockdown
!/scripts/prepare-openclaw
!/scripts/preview-gate
!/jev/
!/jev/requirements.in
!/jev/requirements.txt
!/jev/smoke.py
!/templates/
!/templates/qm.env.example
!/templates/postgres.env.example
!/templates/openclaw.json5.example
!/openclaw/
!/openclaw/package.json
!/openclaw/package-lock.json
!/eval-data/
!/eval-data/README.md
!/eval-data/PERMISSION-CONTRACT.md
!/eval-data/EVALUATION-BRIEF.md
!/eval-data/CLOUD-HANDOFF.md
!/eval-data/enterprise/
!/eval-data/meetings/
!/eval-data/memory/
!/eval-data/permissions/
!/eval-data/*/README.md
!/eval-data/*/LICENSE.txt
!/eval-data/*/source-card.md
!/eval-data/*/manifest.json
!/eval-data/*/fetch.py
!/eval-data/*/fetch_sample.py
!/eval-data/*/validate.py
!/eval-data/*/corpus.jsonl
!/eval-data/*/questions.jsonl
!/eval-data/*/labels.jsonl
!/eval-data/enterprise/corpus/
!/eval-data/enterprise/corpus/gmail/
!/eval-data/enterprise/corpus/slack/
!/eval-data/enterprise/corpus/fireflies/
!/eval-data/enterprise/corpus/*/*.txt
!/eval-data/enterprise/labels/
!/eval-data/enterprise/labels/questions.jsonl
!/eval-data/meetings/corpus/
!/eval-data/meetings/corpus/*.json
!/eval-data/meetings/labels/
!/eval-data/meetings/labels/*.json
